body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: url("../img/space background.png") center/cover no-repeat;
}

main {
    display: flex;
    padding: 10px;
}

nav {
    height: 10vh;
}

#left-container {
    width: 30%;
    padding: 10px;
}

#right-container {
    width: 70%;
    padding: 10px;
}

#game-info {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#game-image {
    height: 40vh;
    font-family: 'Bungee Spice', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: glow 1.5s infinite;
}

.keys {
    display: flex;
    gap: 1vmin;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.keyboard-buttons {
    width: 55px;
    height: 45px;
    background: rgb(0, 136, 255);
    border-radius: 10px;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    cursor: pointer;
}

.try-again {
    height: 50px;
    width: 120px;
    font-size: larger;
    border-radius: 8px;
    margin-left: 130px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Bungee Spice', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 0;
    animation: glow 1.5s infinite;
}

#keyboard {
    width: 450px;
    margin-left: 60px;
}

#rocket {
    width: 380px;
    height: 550px;
}

.middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.right {
    margin-right: 50px;
}

.word {
    display: flex;
}

.letter-word {
    display: flex;
    width: 45px;
    height: 40px;
    background: rgb(0, 136, 255);
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.correct-word {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    color: rgb(255, 140, 0);
    font-weight: 600;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    width: 60%;
    margin-left: 70px;
}

button:hover {
    color: white;
    background-color: darkgrey;
    transform: skew(3deg) scale(1.2);
}

h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 140, 0);
    margin: 0;
    font-size: 25px;
}

#right {
    width: 40%
}

#spaceman {
    height: 320px;
    margin-left: 160px;
}

#lives {
    margin-top: 50px;
}

.checkwinner {
    margin-left: 100px;
    margin-top: 60px;
    font-size: 70px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 20px #ff0, 0 0 40px #ffa500, 0 0 80px #ffa500, 0 0 90px #ffa500;
    }

    50% {
        text-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 40px #ff0, 0 0 80px #ff0, 0 0 100px #ff0, 0 0 120px #ffa500;
    }

    100% {
        text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 20px #ff0, 0 0 40px #ffa500, 0 0 80px #ffa500, 0 0 90px #ffa500;
    }
}